* {
    box-sizing: border-box;
}

header nav {
    background-color: #5169a7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0%;
    font-size: x-large;
}
h1 {
    font-size: 2em;
    margin: 0px;
}
footer {
    background-color: #5169a7;
    margin: 0%;
    display: flex;
    justify-content: center;
}

footer.img {
    margin: 0%;
}
ul {
    list-style: none;
    margin: 0%;
}

section:nth-of-type(1) {
    background-color: #d09d72;
    font-size: x-large;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline-end: 10px;
}

section:nth-of-type(2) {
    background-color: rgb(209, 190, 173);
    font-size: x-large;
    border-bottom: solid rgb(86, 25, 145);
    margin: 0px;
    padding-inline-start: 10px;
}

ul:nth-of-type(2) li:nth-of-type(2) {
    color: rgb(209, 190, 173);
}
button {
    background-color: #7195f0;
    color: white;
    width: 150px;
    height: 50px;
    font-size: x-large;
    margin-top: 10px;
    margin-bottom: 10px;
}
section div {
    border-bottom: solid black;
    width: 300 px;
}
a {
    color: black;
}
footer img {
    margin: 5px;
}
